body{
    align-items: center;
    margin:10;
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif,sans-serif;   
}

.content{
    text-align: center;
    display: block;
    align-items: center;
}